//Global Style

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

//Variables
$mainLightColor: #e5e4e4;
$subLightColor: #d7d6d6;
$mainDarkColor: #17181c;
$gradient: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    &::-webkit-scrollbar-track {
        background-color: $mainLightColor;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #838383;
        border-radius: 50px;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    position: relative;
}

body.no-scroll {
    overflow: hidden;
}

//Animation
@keyframes slideTopToBot {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}